{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}

<main>
    {{ if .Content }}
    {{- $imageName := .Params.albumthumb -}}
    {{- $originalImage := resources.Get $imageName -}}
    <section class="album">
        <h1 class="album">{{.Title}}</h1>
        <h3 class="album">Posted on {{.Date.Format "Monday, January 2, 2006" }} by {{ .Site.Author.name }}</h3>
        <article>
            <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
            {{.Content}}
        </article>
    </section>
    {{ end }}
    <!-- Ranges through content/posts/*.md -->
    {{if .IsHome }}
    {{- partial "album-card.html" . -}}
    {{ else }}
    {{- partial "album-card-full.html" . -}}
    {{ end }}
    <div class="clear">&nbsp;</div>
</main>
{{ end }}