{{- $imageName := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $resize := default "1024x" (.Get "resize") -}}
{{- $originalImage := resources.Get $imageName -}}

{{- /* generate thumbnail */ -}}
{{ .Scratch.Set "image" ($originalImage.Resize $resize) }}
{{ $resizedImage := .Scratch.Get "image" }}

{{- /* get icons permalink */ -}}
{{- $FNumberIcon := resources.Get "icons/camera-lens-fill.png" -}}
{{- $focalLengthIcon := resources.Get "icons/eye-fill.png" -}}
{{- $ExposureTimeIcon := resources.Get "icons/timer-fill.png" -}}
{{- $ISOSpeedRatingsIcon := resources.Get "icons/contrast-fill.png" -}}
{{- $cameraIcon := resources.Get "icons/camera-fill.png" -}}

<figure>
<a href="{{ $originalImage.RelPermalink }}"><img src="{{ $resizedImage.RelPermalink }}" alt="{{ $alt }}" class="exif"></a>
{{ with $originalImage.Exif }}
    <figcaption class="exif">
        {{ with $alt }}<span class="caption">{{ . }}</span>{{ end }}
        {{ with .Tags.FNumber }}<span class="icon" style="background-image: url('{{ $FNumberIcon.Permalink }}');">f/{{ . }}</span>{{ end }}
        {{ with .Tags.FocalLength }}<span class="icon" style="background-image: url('{{ $focalLengthIcon.Permalink }}');"> {{ . }}mm</span>{{ end }}</span>
        {{ with .Tags.ExposureTime }}<span class="icon" style="background-image: url('{{ $ExposureTimeIcon.Permalink }}');">{{ partial "format-exposure-time.html" . }}</span>{{ end }}
        {{ with .Tags.ISOSpeedRatings }}<span class="icon" style="background-image: url('{{ $ISOSpeedRatingsIcon.Permalink }}');">ISO {{ . }}</span>{{ end }}

        {{with .Tags.Model }}<span class="picture-information"><span class="icon" style="background-image: url('{{ $cameraIcon.Permalink }}');">{{ . }}</span>{{ end }} {{with .Tags.LensModel }}{{ . }}</span>{{ end }}

        {{ with .Tags.Copyright}}{{ partial "format-creative-commons.html" . }}{{ end }} {{with .Tags.Artist }}<span class="picture-information">{{ . }} - {{ end }} {{with .Tags.DateTimeOriginal.Format "January 2, 2006" }}{{ . }}</span>{{ end }}
    </figcaption>
{{end }}
</figure>
